<div id="archive-section">
  <div>
    <a class="archive-title" href="/archive.html">Explore Planning Center Developers</a>
  </div>
  <div id="footer-authors-link-container">
    <a href="/authors.html">Authors</a>
  </div>
  <ul class="teams">
    {% for team in site.teams %}
      <li>
        <a href="{{ team.url }}">{{ team.name }}</a>
      </li>
      {% if forloop.rindex0 > 0 %}
        /
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="bottom-footer">
<ul class="footer-links">
<li><a href="https://github.com/ministrycentered/developers">Documentation</a></li>
<li><a href="http://get.planningcenteronline.com">Get Planning Center</a></li>
</ul>
<div class="copyright">
  Copyright {{ site.time | date: '%Y' }} Ministry Centered Technology
</div>
</div>
