---
layout: default
---

<div class="post">

  {% if page.header %}
    <img id="post-header" alt="{{ page.title }} Header" src="{{ page.header }}" />
  {% endif %}

  <div class="title">{{ page.title }}
  <div class="meta">
    <span="date">{{ page.date | date_to_string }}</span>
    {% if page.team %}
      &mdash; {{ page.team | capitalize }}
    {% endif %}
    {% if page.author %}
      &mdash; {{ page.author }}
    {% endif %}
  </div>
  </div>

  <div class="body">
  {{ content }}
  </div>


  {% for author in site.authors %}
    {% if author.name == page.author %}
      <div class="author-link">
        <hr />
        <h5>By</h5>
        <a href="{{ author.url }}">
          <img class="author-profile-image" src="{{ author.image }}?s=140" />
          <p class="name">{{ author.name }}</p>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
